{
  "extends": [
    "plugin:react/recommended",
    "plugin:import/warnings",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["react", "import", "prettier"],
  "rules": {
    "react/display-name": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/no-unescaped-entities": 0,
    "import/imports-first": 1,
    "import/order": 1,
    "react/no-array-index-key": 0,
    "react/prop-types": 0,
    "no-underscore-dangle": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "console": true
  },
  "parser": "babel-eslint"
}